body {
  background-color: #000;
  color: #fff;

  position: relative;
  min-height: 100%;
  margin: 0;
  padding-bottom: 25px;
}
body.light {
  background: #fff;
}
.demo-container {
  margin-top: 60px;
}

.play-board {
  display: flex;
  justify-content: center;
}

.main-board {
  width: 640px;
  height: 360px;
  position: relative;

  color: #ccc;
  box-shadow: rgba(0, 0, 0, 0.1) 70px 70px 100px 10px;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  transition: opacity 150ms ease-in;
}

.main-board.dark {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 5px 0px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(51, 51, 51);
  border-image: initial;
  border-radius: 5px;

  color: #fff;

  background: rgb(0, 0, 0);
}

.play-ctrl {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 36px;

  color: #666;
  box-sizing: border-box;
  background: #666;
  border-radius: 0 0 5px 5px;
  margin: auto;
  opacity: .8;
  /* background: hsla(0,0%,100%,.3); */
  background: #242424;
}

.demo-video {
  position: absolute;
  width: 100%;
  height: 100%;
}

.demo-play-btn {
  position: absolute;
  background: #afafaf;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50px;
  top: -23px;
  left: 12px;
  transform: rotate(90deg);
  font-size: 24px;
  font-weight: bold;

  text-align: center;
  cursor: pointer;
}
.demo-play-btn:hover {
  background: #cfcfcf;
}

.without__border-radius {
  border-radius: 0px;
}
.hidden {
  display: none;
}

.config-container {
  max-width: 640px;
  margin: auto;
  margin-top: 40px;
}

.config-panel {
  border: 1px solid #333;
  padding: 20px;
  margin-bottom: 40px;
  margin-top: 40px;
  color: #fff;
  font-size: 14px;
}
.config-line {
  text-align: center;
  max-width: 270px;
  margin: auto;
  margin-bottom: 24px;
  border-bottom: 2px solid #626262;
  -webkit-transition: border-bottom-color 100ms ease-in, color 100ms ease-in;
  -moz-transition: border-bottom-color 100ms ease-in, color 100ms ease-in;
  -ms-transition: border-bottom-color 100ms ease-in, color 100ms ease-in;
  transition: border-bottom-color 100ms ease-in, color 100ms ease-in;
}
.form-line {

}
.config-line.focus {
  border-color: #fff;
}
.config-input {
  border: none;
  background-color: transparent;
  color: #ffffff;
  max-width: 270px;
  display: block;
  text-align: center;
  font-size: 12px;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  border-radius: 0;
  padding: 0;
  margin: 0 auto;
  height: 32px;
  line-height: 22px;
}

.config-input:focus {
  outline: none;
  color: #fff;
}

.config-button {
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  font-weight: bold;
  width: 270px;
  height: 50px;
  display: block;
  background: rgb(0, 0, 0);
  border-width: 2px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-image: initial;
  margin: auto;
  transition: all 0.2s ease;
}

.config-button:hover {
  color: rgb(0, 0, 0);
  border-width: 2px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-image: initial;
  background: rgb(255, 255, 255);
}

.config-button.light {
  background: #fff;
  color: #000;
  border-color: #fff;
}

.config-button.light:hover {
  color: #fff;
  border-color: #fff;
  background: #000;
}
