<!DOCTYPE html>
<html>

<head>
  <% for (var chunk in htmlWebpackPlugin.files.css) { %>
  <link rel="preload" href="<%= htmlWebpackPlugin.files.css[chunk] %>" as="style">
  <% } %>
  <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
  <link rel="preload" href="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>" as="script">
  <% } %>
  <meta charset="utf-8">
  <title>preact-boilerplate</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
  <meta name="description" content="preact-boilerplate">
  <meta name="msapplication-TileColor" content="#673ab8">
  <meta name="msapplication-TileImage" content="./assets/icons/mstile-150x150.png">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="apple-mobile-web-app-title" content="preact-boilerplate">
  <meta name="application-name" content="preact-boilerplate">
  <meta name="format-detection" content="telephone=no">
  <meta name="theme-color" content="#673ab8">
  <link rel="apple-touch-icon" sizes="180x180" href="./assets/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/assets/icons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/assets/icons/favicon-16x16.png" sizes="16x16">
  <link href="/assets/style/demo.css" rel="stylesheet" type="text/css" charset="utf-8">
  <link rel="manifest" href="./manifest.json">
</head>

<body>
  <div class="demo-main">
    <div class="demo-header">

    </div>
    <div class="demo-container">
      <div class="play-board">
        <div class="main-board dark without__border-radius" id="main-board">
          <video id="demoVideoPlayer" src="//static.techartisan.cn/midea/videos/quanqiufengbao_854x480.mp4" class="demo-video" controls="controls"></video>
          <img id="demoVideoCover" src="//static.techartisan.cn/midea/covers/quanqiufengbao_cover.jpeg" class="demo-video"/>
          <div id="demoVideoCtrl" class="play-ctrl" style="z-index:1">
            <span class="demo-play-btn">
              <span class="demo-icon demo-play-icon">⏏</span>
              <span class="demo-icon demo-stop-icon hidden">=</span>
            </span>
          </div>
        </div>

        <div class="side-board">
        </div>
      </div>
    </div>
  </div>
  <script>
    (function(){
      function removeClass(domElement, className) {
        var rawClassName = domElement.className
        var clsList = rawClassName.split(" ")
        console.log(domElement, clsList)
        domElement.className = ""
        for (var i in clsList){
          if (!clsList[i] || clsList[i] == className){
            continue
          }
          domElement.className += " " + clsList[i]
        }
      }
      function addClass(domElement, className) {
        var rawClassName = domElement.className
        domElement.className = rawClassName + " " + className
      }

      function VideoCtrl() {
        this.ctrlDom = document.querySelector("#demoVideoCtrl")
        this.videoDom = document.querySelector("#demoVideoPlayer")
        this.coverDom = document.querySelector("#demoVideoCover")

        this.playIcon = document.querySelector(".demo-play-icon")
        this.stopIcon = document.querySelector(".demo-stop-icon")
        this.playing = false

        this.play = function () {
          this.videoDom.play()
          this.playing = true

          addClass(this.coverDom, "hidden")
          addClass(this.playIcon, "hidden")
          removeClass(this.stopIcon, "hidden")

          // this.coverDom.className = this.coverDom.className + "hidden"
          // this.playIcon.className = this.playIcon.className + "hidden"
          // this.stopIcon.className = "demo-stop-icon"
        }
        this.stop = function () {
          this.videoDom.pause()
          this.playEnd()
        }
        this.playEnd = function () {
          this.playing = false
          removeClass(this.coverDom, "hidden")
          removeClass(this.playIcon, "hidden")
          addClass(this.stopIcon, "hidden")
          // this.coverDom.className = "demo-video"
          // this.playIcon.className = "demo-play-icon"
          // this.stopIcon.className = this.stopIcon.className + "hidden"
        }

        this.bootstrap = function () {
          var that = this
          this.ctrlDom.onclick = function () {
            if(that.playing){
              that.stop()
            } else {
              that.play()
            }
          }

          this.videoDom.addEventListener("ended", function(){
            that.playEnd()
          })
        }
      }

      window.onload = function(){
        if(window.initPlayBoard){
          initPlayBoard('#main-board')
        }
        console.log('loading')

        var videoCtrl = new VideoCtrl()
        videoCtrl.bootstrap()
      }
    })()
  </script>
</body>

</html>
